{% block codeincolor_field %}
    <div class="codeincolor__value">
        <div class="codeincolor__preview" style="background-color: {{ field.value.HEX }}">&nbsp;</div>
        <span class="codeincolor__hex">{{ field.value.HEX }}</span>
    </div>

{% endblock %}